<div class="row">
    <div class="col-12 attendance">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold mb-4">
                    INCOMING RAW MATERIAL WEIGHT CHART (PD001-F01-01)
                </h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr class="table-warning font-weight-bold">
                            <td>Lot Number</td>
                            <td>Date</td>
                            <td>Weight Chart</td>
                            <td>S.No</td>
                            <td>Sharp S No</td>
                            <td>Supplier S No</td>
                            <td>Gross Wt</td>
                            <td>Tare Wt</td>

                            <td>Net Wt</td>
                            <td>S. No2</td>
                            <td>Rechecked Tare Wt</td>
                            <td>Difference</td>
                            <td>Date</td>
                          
                        </tr>

                        <% if(incoming.length > 0){ %>
                            <% incoming.forEach(item=>{ %>
                                <tr>
                                    <td><%= item.lotNumber %></td>
                                    <td><%= item.date %></td>
                                    <td><%= item.weightChart %></td>
                                    <td><%= item.sNo %></td>
                                    <td><%= item.sharpSNo %></td>
                                    <td><%= item.supplierSNo %></td>
                                    <td><%= item.grossWt %></td>
                                    <td><%= item.tareWt %></td>
                                    <td><%= item.netWt %></td>
                                    <td><%= item.sNo2 %></td>
                                    <td><%= item.recheckedTareWt %></td>
                                    <td><%= item.difference %></td>
                                    <td><%= item.date2 %></td>
                                    
                                </tr>
                            <% }) %> 
                        <% } %> 

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>