<div class="row">
    <div class="col-12 attendance">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title font-weight-bold mb-4">Material</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead class="">
                            <tr class="table-warning">
                                <th scope="col">S.No</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Name & Address</th>
                                <th scope="col">qty</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            <% if(material.length> 0){ %>
                                <% material.forEach(item=>{ %>
                                    <% if(item.supervisorStatus=="Pending" ){ %>
                                        <tr>
                                            <td>
                                                <%= item.sno %>
                                            </td>
                                            <td>
                                                <%= item.date %>
                                            </td>
                                            <td>
                                                <%= item.time %>
                                            </td>
                                            <td>
                                                <%= item.name %>, <%= item.address %>
                                            </td>
                                            <td>
                                                <%= item.qty %>
                                            </td>
                                            <td>
                                                <a href="/supervisor/material/approve/<%= item._id %>"
                                                    class="btn btn-success btn-sm">Approve</a>

                                                <a href="/supervisor/material/reject/<%= item._id %>"
                                                    class="btn btn-danger btn-sm">Reject</a>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% }) %>
                                                <% } %>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>