<div class="row">
    <div class="col-md-8">
        <div class="">
            <div class="table-responsive py-3 pe-2">
                <h4>Attendance Lists</h4>
                <table class="table table-sm table-bordered" id="myTable">
                    <thead>
                        <tr class="align-middle bg-warning">
                            <th scope="col">S.No</th>
                            <th scope="col">UIN</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mark In</th>
                            <th scope="col">Approve</th>
                            <th scope="col">Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(attendance != ""){ %>
                        <% attendance.forEach((atten, index) =>{ %>
                        <% if(atten.isApproved != "Approved" && atten.marked === 1){ %>
                        <tr class="align-middle">
                            <td><%= index + 1 %></td>
                            <td><%= atten.uin %></td>
                            <td><%= atten.name %></td>
                            <td><%= atten.timeIn %></td>
                            <td>

                                <form action="/hr/attendance/approved/<%= atten.uin %>?_method=PUT" method="POST">
                                    <input type="hidden" name="_method" value="PUT">
                                    <button type="submit" class="btn btn-success btn-sm" style="font-size: .8rem">
                                        Approve
                                    </button>
                                </form>

                                <!-- <a href="/hr/attendance/approved/<%= atten.uin %>?_method=PUT" class="btn btn-success btn-sm"
                                    style="font-size: .8rem">
                                    Approve
                                </a> -->
                            </td>
                            <td>
                                <form action="/hr/attendance/reject/<%= atten.uin %>?_method=PUT" method="POST">
                                    <input type="hidden" name="_method" value="PUT">
                                    <button type="submit" class="btn btn-danger btn-sm" style="font-size: .8rem">
                                        REJECT
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                        <% }) %>
                        <%  } %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>